
 <style>
  body {
   background-color: #1E90FF; /* Set the background color */
   background-image: url('audio-background.jpg'); /* Set the background image */
   background-repeat: no-repeat;
   background-size: cover;
  }
  h1 {
   color: white; /* Set the text color */
   text-align: center;
   margin-top: 100px;
   font-size: 4em;
   text-shadow: 2px 2px 4px #000000; /* Add a shadow to the text */
  }
  </style>
<p> By </p>
    <h>  NIDHIN </h>
<p> and </p>
<h> Abijith </h>

<p>This version is more or less experimental and has only limited functionality.</p>

<h4>Tools making this app cool:</h4>
<ul>
    <li><a href="http://www.w3.org/TR/webaudio/">Web Audio API</a>
    <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>
    <li><a href="http://jquery.com/">jQuery</a>
    <li><a href="http://backbonejs.org/">Backbone.js</a>
    <li><a href="http://requirejs.org/">RequireJS</a>
    <li><a href="http://lesscss.org/">LESS</a>
</ul>
<h4>Contact me:</h4>
<ul>
    <li>masterhackcyber206235@gmail.com
    <li><a href="https://instagram.com/_nvm0.0_?igshid=MzRlODBiNWFlZA==">@nvm0.0</a>
</ul>

<img class="audiee-logo" src="apple-touch-icon-114x114-precomposed.png" alt="Audiee logo">
